


/* Selector Universal */
*{
    margin: 0;
    padding: 0;
}

/* Selector de etiqueta */
body{
    background-color:rgba(58, 58, 58, 0.418);
    color: rgb(0, 8, 8);
}

/* Selecotor de ID */
#Contenedor{
    width: 1500px; 
    height: 1850px;
    background-color: rgb(24, 24, 24);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

/* Selector de ID */
#Encabezado{
    width: 100%;
    background-color: rgb(71, 71, 71);
    border-radius: 5px;
    text-align: center;
}

/* Selector de ID*/
#Menu{
    height: 40px;
    background-color: rgb(71,71,71);
    margin: 1em;
    border-radius: 5px;
}

/* Selector de Etiqueta */
ul{
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}


li a:hover{
    color: crimson;
    font-size: 20px;
    text-decoration:  none;
    list-style: none;
}

/* Selector de Clase */
.img{
    width: 50%;
    border-radius: 30px;
    justify-items: center;
}

.texto{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #f0e6e6;
}

.pie{
    height: 20px;
    background-color: rgb(0, 0, 0);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}

.pie h4{
    padding: 15px;
    font-size: 20px;
    background-color: rgba(75, 75, 75, 0.973);
}

/* card */
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 8, 8, 0.63);
    overflow: hidden;
    max-width: 200px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
}

.card:hover{
    max-width: 310px;
}

.card img{
    background-color: white;
    width: 80%;
}

.card h1{
    font-family: "Big Shoulders Inline Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #f8efefef;
}

.titule{
    color: rgba(194, 194, 194, 0.842);
    font-size: 30px;  
    font-family: "Ruslan Display", sans-serif;
    font-weight: 400;
   font-style: normal;
}




.linea{
    width: 100%;
    height: 2px;
    background-color: rgb(88, 88, 88);
    margin: 10px auto;
}

button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #f8efefef;
    background-color: #525252ea;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 10px;
}

html{
    scroll-behavior: smooth;
}

.ContenedorFlex{
    display: flex;
    width: 1300px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(71, 71, 71);
    padding: 10px;
    border: 2px solid black;
    text-align: end;
    justify-content: start;
}

.item{
    background-color: rgb(0, 238, 255);
    width: 100px;
    margin: 10px;
    border: 2px solid;
    text-align: center;
    line-height: 25px;
    font-size: 25px;


}

.ContenedorFlex a:hover{
    background-color: rgb(192, 192, 192) ;

}

button:hover{
    color: crimson;
}